@page "/"
@using Nexus.Client.Components.Navbar
@using Nexus.Client.Components.Hero
@using Nexus.Client.Components.AboutSection

<Navbar />

<div class="content">
    <Hero />

    <AboutSection />

    <div class="section-placeholder" id="SkillSection" style="height: 100vh;">
        <h2>Skills</h2>
    </div>

    <div class="section-placeholder" id="WorkSection" style="height: 100vh;">
        <h2>Work</h2>
    </div>

    <div class="section-placeholder" id="ContactSection" style="height: 100vh;">
        <h2>Contact</h2>
    </div>

</div>


