@page "/"
@using Nexus.Client.Components.Navbar
@using Nexus.Client.Components.Hero
@using Nexus.Client.Components.AboutSection
@using Nexus.Client.Components.SkillSection

<Navbar/>

<Hero/>

<AboutSection/>

<div class="section__skill h-64 bg-fixed "></div>

<SkillSection />

<div class="section-placeholder" id="WorkSection" style="height: 100vh;">
    <h2>Work</h2>
</div>

<div class="section-placeholder" id="ContactSection" style="height: 100vh;">
    <h2>Contact</h2>
</div>