@page "/"

<Navbar/>

<Hero/>

<About/>

<div class="section-delimiter__skill h-64 bg-fixed "></div>

<Skills />

<div class="section-delimiter__work h-64 bg-fixed "></div>

<Work />

<div class="section-delimiter__contact h-64 bg-fixed"></div>

<Contact />