/*
 *
 * Universal
 * 
 */

* {
  font-family: 'PT Sans Narrow', sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

:root {
  --pink: #cd2faa;
  --light-blue: #23cddb;
  --dark-blue: #188ddd;
}

.section-placeholder {
  height: 100vh;
  width: 100vw;
  background-color: grey;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.section-placeholder:nth-of-type(odd) {
  background-color: white;
}

/*
 *
 * Spinkit
 * https://tobiasahlin.com/spinkit/
 *
 */

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 300px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/*
 *
 * Blazor Error UI
 * 
 */

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/*
 *
 * Navbar
 * 
 */

.navbar {
  z-index: 20;
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: fixed;
  top: -8vh;
}

.navbar-hidden {
    opacity: 0;
  transition: opacity 1.4s;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1; 
  transition: opacity 1.4s;
}

.content-padding > #AboutSection,
.content-padding > #SkillSection,
.content-padding > #WorkSection,
.content-padding > #ContactSection {
  padding-top: 8vh;
}


.navbar a {
  text-decoration: none;
}

.navbar__header {
  margin-left: 2em;
  width: 50vw;
  justify-self: flex-start;
}

.navbar__brand {
  margin: 0;
  font-size: 2em;
  color: whitesmoke;
  font-family: 'Megrim', cursive;
}

.navbar__body {
  width: 50vw;
  margin-right: 2em;
}

.navbar__links {
  display: flex;
  justify-content: flex-end;
}

.navbar__links li {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
}

.navbar__link-item:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

.navbar__link-item {
  text-decoration: none;
  color: whitesmoke;
  margin: auto 1em;
}

/*
 *
 * Hero
 * 
 */

.hero {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 1fr 1fr;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url("../media/images/hero-bg-alt.jpg");
  background-size: cover;
  background-position: center 66%;
  background-color: black;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.66) 33%, rgba(0, 0, 0, 0.33) 66%, rgba(0, 212, 255, 0) 100%);
  opacity: .6;
  pointer-events: none;
}

.hero__title {
  z-index: 10;
  align-self: end;
  /* grid-column: 2; */
  grid-row: 1;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 5em;
  color: white;
  text-align: center;
}

.hero__sub-title {
  z-index: 10;
  color: rgb(228, 228, 228);
  font-size: 2em;
  align-self: beginning;
  grid-row: 2;
  /* grid-column: 2; */
  margin: 0;
  text-align: center;
}