@inherits AboutSectionBase

<div class="container" id="AboutSection" style="height: 100vh;">
    <h2>@AboutSectionData?.JobTitle ?? "Web Developer"</h2>
    <p>@AboutSectionData?.Biography ?? "Error."</p>
</div>