@inherits HeroBase
@using Nexus.Client.Components.Hero.Subcomponents

<section class="py-20 px-20 h-screen flex items-stretch section__hero bg-fixed">

    <div class="container mx-auto w-1/2 flex flex-col align-start justify-center">

        <p class="text-xl text-white text-center">
            @StaticText <br/>
            <span class="font-mono text-3xl" id="typed"></span>
        </p>

        <div class="full-w flex justify-center my-20">

            <HeroButton
                OnClick="@ScrollToSection"
                ButtonText="Contact Me"
                SectionLinkId="#ContactSection"/>

            <HeroButton
                OnClick="@ScrollToSection"
                ButtonText="Work"
                SectionLinkId="#WorkSection"/>

        </div>

    </div>

</section>