
<li class="px-4 hover:text-gray-800 navbar-link">
    <a
        @onclick="@(() => OnClick.InvokeAsync(SectionLinkId))">
        @LinkText
    </a>
</li>

@code {

    [Parameter] public EventCallback<string> OnClick { get; set; }
    [Parameter] public string SectionLinkId { get; set; }
    [Parameter] public string LinkText { get; set; }

}